

<div *ngIf="residentsInfo.length > 0">
    <div class="list">
        <div class="list-element">
        <form [formGroup]="form" style="display:inline-block;">
            <input type="radio" formControlName="gender" value="all"> all
            <input type="radio" formControlName="gender" value="male"> male
            <input type="radio" formControlName="gender" value="female"> female
            <input type="radio" formControlName="gender" value="n/a"> n/a
        </form>

        <a [routerLink]="'/'">
            <button class="back-button" style="float:right;margin-left: 10px;">
                Назад
            </button>
        </a>
        </div>


        <ng-container *ngFor="let resident of residentsInfo">
            <div *ngIf="form.value.gender == 'all' || resident.gender == form.value.gender" class="list-element">
                <h4>{{resident.name}}</h4>
                <ul class="list-element-stats-container">
                    <li>Пол - {{resident.gender}}</li>
                    <li>Год рождения - {{resident.birth_year}}</li>
                    <li>Вес - {{resident.mass}}</li>
                    <li>Рост - {{resident.height}}</li>
                </ul>
            </div>
        </ng-container>
    </div>
</div>
        
<div *ngIf="residentsInfo.length == 0">
    There are no residents!
</div>
